.academy-type-page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 280vh;
    background: var(--bg-secondary);
    color: var(--color-primary);
}
.academy-type-page h2,
.academy-type-page h3,
.academy-type-page p, 
.academy-type-page h4  {
color: var(--color-primary);
}
.container-accademy{
    margin-top: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.accademyIntro{
    width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid blue;
    padding-bottom: 10px;
    text-align: center;
}